[submodule "src/ft_semantic_segmentation/awesome-semantic-segmentation-pytorch"]
	path = src/ft_semantic_segmentation/ft_semantic_segmentation
	url = git@github.com:FT-Autonomous/awesome-semantic-segmentation-pytorch.git
